{% extends 'base.html' %}
{% block title %}
    MyFitness | Homepage
{% endblock %}

{% block content %}

<div class="home-big-png">
    <div class="home-title">
        Fitness für ein besseres und sorgenloses Leben
    </div>
    <div class="home-title-little">
        Wähle Pläne, speicher deine Statistiken oder erstelle deine eigenen
    </div>
</div>
<div class="text-center home-button">
    <div class="home-motivation">Jeden Tag ein bisschen besser!</div>
    <a href="{{ url_for('exercise_page') }}">
        <button type="button" class="btn-dark btn"> Auf Gehts </button>
    </a>
</div>
<div class="home-border"></div>

{% endblock %}