{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container-lg">
        <div class="home-container login-container">
            <div class="row">
                <div class="col-7">
                    <div class="login-png"></div>
                </div>
                <div class="col-5 login">
                    <form method="POST" class="form-register" action="/login" style="color: black">
                        <br>
                        <h1 class="h3 mb-3 font-weight-normal">
                            Please Login
                        </h1>

                        <label for="Username" class="form-label">
                            Username
                        </label>
                        <input type="text" id="Username" name="Username" class="form-control" style="width: 50%; margin-left: auto; margin-right: auto; margin-bottom: 15px">
                        <label for="Password" class="form-label">
                            Password
                        </label>
                        <input type="password" id="Password" name="Password" class="form-control" aria-describedby="passwordHelpBlock" style="width: 50%; margin-left: auto; margin-right: auto; margin-bottom: 15px">

                        <br>

                        <button type="submit" class="btn btn-dark">Login</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}